.page{
    display: flex;
    flex-direction:row;
    background-color: rgb(218, 233, 17);
    padding: 20px;
    justify-content:space-evenly;
    width:1600px;
    height: 1200px;
    padding: 20px;
  margin: 20px auto;
  flex-wrap:wrap ;
  align-items:flex-start;
  align-content: space-evenly;
  border:5px solid black;
  }
  .page div{
   
    color:white;
    width:calc(90%/2);
    text-align: center;
    padding: 20px;
  }
  .body{
      margin: auto;
      padding: 0;
      line-height: 1.7;
      font-size: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .main-area{
      display: flex;
      flex-grow: 1;
      flex-wrap: wrap;
      flex-basis:1400px ;
      justify-content:space-evenly;
      align-items:stretch;
      padding: 20px;
      background-color: chartreuse;
      line-height: 500px;
  }
  .main-area div{
    width:calc(90%/2);
    text-align: center;
  padding: 20px;
  margin: 20px;
  flex-grow: 1;
  color:black;
  font-size: 30px;
    }
  .page .header{
      display: flex;
     width: 1400px;
      justify-content: space-evenly;
      padding: 20px;
      flex-direction:row;
      align-items:center;
      align-content: space-evenly;
      flex-grow: 1;
      flex-basis: 1400px;
      background-color: cyan;
      margin: 20px;
      flex-basis: 1400px;
      color:black;
      line-height:50px;
  }
  .page .header div{
 width:calc(90%/2);
text-align: center;
  padding: 20px;
  margin: 20px;
  height: 50px;
  color:black
  }
  .page .header .logo{
   flex-shrink:0;
   flex-basis:200px;
   
  }
  .page .header .links{
    text-decoration: none;   
    display:flex;
   flex-grow:6;
   flex-basis:1200px;
   list-style-type: none;
   justify-content: center;
   padding: 20px;
   margin: 50px;
   align-items:center;
   align-content: space-evenly;
  }
  ul li{
      padding: 20px;
  }
  .page .footer{
    display: flex;
    background-color: cyan;
    color:black;
    width:1400px;
    flex-basis: 1400px;
    flex-grow: 1;

  }
  .page .footer div{
    width:calc(90%/2);
    text-align: center;
  padding: 20px;
  margin: 20px;
  
  color:black
  }
  .alzero{
   
    width:800px;
    height: 300px;
    background-color: #eee;
    position: relative;
    padding: 20px;
   border:5px solid transparent;
   box-sizing: border-box;
   background-clip: padding-box;
   
  }
  /* div::before{
    content: "";
    position: absolute;
    top:-10px;
    left:0;
    width:100%;
    background-color: red;
    height: 10px;
    background-image:linear-gradient(to right,rgb(11, 148, 148)20%,rgb(11, 148, 148)20%,#17e02b  20%,#17e02b  40%,red 20%,red 60%,purple 20%,purple 80%,#8bdae4 20%,#8bdae4 100%);
  } */
  /* div::after{
    content: "";
    position: absolute;
    bottom:-10px;
    right:0;
    width:100%;
    background-color: red;
    height: 10px;
    background-image:linear-gradient(to right,rgb(11, 148, 148)20%,rgb(11, 148, 148)20%,#17e02b  20%,#17e02b  40%,red 20%,red 60%,purple 20%,purple 80%,#8bdae4 20%,#8bdae4 100%);
  } */
  /* div::before{
    content: "";
    position: absolute;
    top:20px;
   
    right:0;
    bottom: 0;
    left:0;
    z-index: -1;
    width: 100%;
    margin: -10px;
    
    background-image:linear-gradient(to right,rgb(11, 148, 148)20%,rgb(11, 148, 148)20%,#17e02b  20%,#17e02b  40%,red 20%,red 60%,purple 20%,purple 80%,#8bdae4 20%,#8bdae4 100%);
  }
  div::after{
    content: "";
    position: absolute;
    top:0px;
    right:0;
    bottom: 0;
    left:0;
    z-index: -1;
    height: 100%;
       margin: -10px;
    background-image:linear-gradient(to right,rgb(11, 148, 148)20%,rgb(11, 148, 148)20%,#17e02b  20%,#17e02b  40%,red 20%,red 60%,purple 20%,purple 80%,#8bdae4 20%,#8bdae4 100%);
  } */
  .container1{
       width:900px;
    height: 400px;
    background-color: rgb(58, 57, 57);
    position: relative;
    padding: 20px;
   box-sizing: border-box;
   background-clip: padding-box;
   margin: 20px;
   left:50%;
  }
  .container1 div{
    width:800px;
    height: 100px;
    background-color: #eee;
    position: relative;
    margin: 10px;
    text-align: center;
    left:3%;
    top:9px;
   
    font-size: 30px;
    padding: 10 auto;
    line-height: inherit;
    
  }
  .container1 div::after{
    content: "";
    position: absolute;
    top:95px;
    right:0;
    bottom: 0;
    left:0;
    height: 10px;
    background-image:linear-gradient(to right,rgb(11, 148, 148)50%,rgb(11, 148, 148)50%,red 50%);
  }
  .container1 .elzero1 p{
    
    caret-color: red;
  }
  .grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:100px auto ;
    /* row-gap: 20px;
    column-gap:20px ; */
    gap: 20px 20px;
  }
  .grid div{
    background-color: lightslategray;
    color:white;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  